.content-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-colection {
  color: var(--white);
  img {
    width: 180px;
  }
  .img-card {
    text-align: center !important;
  }
  h5 {
    text-align: center !important;
    font-family: Gotham;
    font-size: 18px;
  }

  h5 {
    text-align: center;
  }
  p {
    text-align: left;
    font-size: 14px;
  }
}
.scaled:hover {
  transform: scale(1.1);
  color: #ee5e34;
}
.mb-ajst {
  margin-bottom: 30px;
}

.spn-border {
  color: var(--);
}
