:root {
	--grey: #CDCDCD;
	--blue: #337AB7;            
	--dark-grey: #7A7A7A;
	--white: #FFFFFF;
	--green: #56CA1F;          
	--black: #000000;           
	--red: #E83737
	--yellow: #FFD600;            // Badges
	--grey-blue: #2E2E37;       // Footer
	--grey-blue-light: #ECEDF2; // Background
}