:root {
	--grey: #CDCDCD;
	--blue: #337AB7;
	--dark-grey: #7A7A7A;
	--white: #FFFFFF;
	--green: #56CA1F;
	--black: #000000;
	--red: #E83737
	--yellow: #FFD600;
	--grey-blue: #2E2E37;
	--grey-blue-light: #ECEDF2;
  --bg-home:#363636;// Background
  --on-bg-home:#4A4A4A;// On background
  --secondary-color:#EA3601;// On background
}
