/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/scss/bootstrap.scss);
@import url(./assets/fonts.scss);
@import url(./assets/vars.scss);

body {
  font-family: Roboto;
  font-weight: 500;
  color: var(--white);
  background-color: var(--bg-home);
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
