.footer-black {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--on-surface);
  color: var(--white);
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }

  a:hover {
    filter: brightness(150%);
  }
}
